.unique_container {
    width: 650px;  /* Largeur */
    height: auto; /* Hauteur */
    background-color: #1E88E5; /* Couleur de fond */
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 150px;
    padding: 15px;
}

img {
    width: 200px;
    height: 200px;
}

textarea {
    width: 300px;
    height: 50px;
    border: #1E88E5;
    background-color: #00ACC1;
    border-radius: 10px;
}

button:hover {
    background-color: #00ACC1;
}

.buttons-container {
    display: flex; /* Utilise Flexbox */
    gap: 10px; /* Espace entre les boutons */
    justify-content: center; /* Centre les boutons horizontalement */
}

button {
    background-color: #00ACC1;
    border: none;
    margin: 5px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    color: #F5F5F5;
    cursor: pointer;
}

h2 {
    position: relative;
    display: flex;
}