/* Styles pour la page du produit unique */
.product-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    text-align: center;
}

.product-container {
    display: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    align-items: center;
    gap: 20px;
}

.product-image {
    width: 300px;
    border-radius: 10px;
}

.product-info {
    text-align: left;
}

.product-info h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.price {
    font-size: 1.5rem;
    color: #f8c32b;
    margin-bottom: 10px;
    font-weight: bold;
}

.description {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    background-color: #f8c32b;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
}

button:hover {
    background-color: #e0a826;
}

/* Styles pour l'espace de commentaire */
.comment-section {
    margin-top: 30px;
    text-align: center;
}

.comment-section h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.comment-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-section textarea {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.edit-product {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.edit-product h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.edit-product form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.edit-product label {
    font-weight: bold;
}

.edit-product input, .edit-product textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}