/* Styles généraux */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

/* Barre de navigation */
header {
    background-color: #333;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav .logo h1 {
    color: #fff;
}

nav .nav-links {
    list-style-type: none;
    display: flex;
}

nav .nav-links li {
    margin-left: 20px;
}

nav .nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Section des produits */
.products {
    padding: 50px 20px;
    text-align: center;
}

.products h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
}

.product-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
}

.product-item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.product-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.product-item p {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.product-item button {
    padding: 10px 20px;
    background-color: #f8c32b;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.product-item button:hover {
    background-color: #e0a826;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer .social-links {
    margin-top: 15px;
}

footer .social-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

footer .social-links a:hover {
    color: #f8c32b;
}

.product-item:hover {
    cursor: pointer;
    border: 2px solid #e0a826;
    box-shadow: 5px 5px 5px #e0a826;
    transition: all 0.3s ease;
}