.items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Crée une grille responsive */
    gap: 20px; /* Espace entre les cartes */
    padding: 20px; /* Espace autour de la grille */
}

.item-card {
    background: linear-gradient(45deg, #1E88E5, #00ACC1);
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 10px #212121;
    display: flex;
    flex-direction: column; /* Aligne le contenu verticalement */
    align-items: center; /* Centre le contenu horizontalement */
    justify-content: center;
    text-decoration: none; /* Supprime le soulignement des liens */
    color: inherit; /* Utilise la couleur du texte par défaut */
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Ajoute une transition */
}

.item-card img {
    width: 100%; /* Prend toute la largeur de la carte */
    height: auto; /* Garde le ratio d'aspect */
    max-width: 150px; /* Limite la taille de l'image */
    margin: 0 auto 10px auto; /* Centre l'image */
}

.item-card h3 {
    font-size: 18px;
    margin: 0;
    text-align: center;
    color: #F5F5F5;
}

.item-card p {
    font-size: 14px;
    color: #F5F5F5;
    text-align: center; /* Centre le texte */
    margin: 0;
}

.item-card:hover {
    transform: scale(1.05); /* Agrandit légèrement au survol */
    box-shadow: 0 0 15px #1E88E5; /* Accentue l'ombre */
}

.item-card {
    width: auto;
}

.buttons-container {
    display: flex; /* Utilise Flexbox */
    gap: 10px; /* Espace entre les boutons */
    justify-content: center; /* Centre les boutons horizontalement */
}

button {
    background-color: #1E88E5;
    border: none;
    margin: 5px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    color: #F5F5F5;
    cursor: pointer;
}

button:hover {
    background-color: #00ACC1;
}

.pop_input input {
    border: 2px solid #1E88E5;
    background-color: #F5F5F5;
    border-radius: 5px;
    margin: 10px;
    height: 25px;
    width: 370px;
}

/* Styles généraux pour le popup */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #F5F5F5;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 20px;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Masquer le popup par défaut */
.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(0.9);
}

/* Afficher le popup */
.visible {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

/* Style du bouton de fermeture */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    color: black;
}

.close:hover {
    color: red;
}

h3 {
    justify-content: center;
    display: flex;
}

.pop_input button:focus {
    border: 2px solid #1E88E5;
    color: #1E88E5;
}