<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/product.css">
    <link rel="icon" type="image/png" href="../static/img/logo.ico">
    <script src="../static/js/flashMessage.js"></script>
    <script src="../static/js/main.js"></script>
    <title>Baazar Tracker | Acceuil</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-message {{ messages[0][0] }}">
            {{ messages[0][1] }}
        </div>
    {% endif %}
    {% endwith %}
    <header>
        <div class="logo">
            <img src="../static/img/logo.ico" alt="Baazar Tracker Logo">
            <div>
                <a href="/home" class="sikp-link"><h1>E-Commerce</h1></a>
                <span>The Future E-Commerce</span>
            </div>
        </div>
        <nav>
            <div class="tooltip tooltip-with-svg">
                <a href="/products">
                    <div class="tooltip-icon">
                        <svg width="25" height="25" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <rect x="3" y="5" width="18" height="2" fill="black"/>
                            <rect x="3" y="11" width="18" height="2" fill="black"/>
                            <rect x="3" y="17" width="8" height="2" fill="black"/>
                            <rect x="14" y="15" width="2" height="6" fill="black"/>
                            <rect x="11" y="17" width="6" height="2" fill="black"/>
                        </svg>
                    </div>
                </a>
                <span class="tooltip-text">Produit</span>
            </div>
              
            <div class="tooltip">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="black">
                        <path d="M3 3h2l3.6 7.59-1.35 2.45C7.08 13.81 7 14.15 7 14.5 7 15.33 7.67 16 8.5 16H19v-2H8.79c-.45 0-.67-.54-.35-.85L9.8 11h7.05c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21L4.27.62C4.1.25 3.72 0 3.3 0H0v2h2l4 8-1.25 2.25C4.28 12.65 4 13.28 4 14c0 1.66 1.34 3 3 3h12v-2H7c-.55 0-1-.45-1-1 0-.17.04-.34.11-.5L8 10h8.21l-1.79 3H7l1.1-2h7.45c.75 0 1.41-.41 1.75-1.03L21 4H6l-1.1-2H3zm3 16c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm10 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
                    </svg>
                </a>
                <span class="tooltip-text">Commandes</span>
            </div>
        </nav>
        <div class="login">
            {% if current_user.is_authenticated %}
                <a href="/profil" class="sikp-link">Profil</a>
                |
                <a href="/logout" class="sikp-link">Se déconnecter</a>
            {% else %}
                <a href="/login" class="sikp-link">Se connecter</a>
            {% endif %}
        </div>
    </header>
    <div class="search-bar">
        <input type="text" placeholder="Search for items">
    </div>
    <div class="content">
        <h2>Produits Disponibles</h2>
        <div class="items-grid"> <!-- Ajout de cette div pour la grille -->
            {% for product in products %}
                <div class="item-card tooltip">
                    <a href="/product/{{ product.id }}" class="sikp-link">
                        <h3>{{ product.nom }}</h3>
                        <img src="../static/img/product/{{ product.image }}" alt="{{ product.nom }}">
                        <p>
                            Prix: {{ product.prix }}<br>
                            Quantité: {{ product.quantite }}
                        </p>
                    </a>
                    <span class="tooltip-text">{{ product.description }}</span>
                </div>
            {% endfor %}
        </div>
    </div>    
</body>
</html>