<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="../../static/css/auth/register.css">
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="icon" type="image/png" href="../static/img/logo.ico">
    <script src="../static/js/flashMessage.js"></script>
    <script src="../static/js/main.js"></script>
    <title>E-Commerce | Inscription</title>
</head>
<body>
    <header>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-message {{ messages[0][0] }}">
                {{ messages[0][1] }}
            </div>
        {% endif %}
        {% endwith %}
        <nav>
            <div class="logo">
                <h1>Ma Boutique</h1>
            </div>
            <ul class="nav-links">
                <li><a href="/home">Accueil</a></li>
                <li><a href="/products">Produits</a></li>
                <li><a href="#">Promotions</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Panier</a></li>
            </ul>
        </nav>
    </header>
    <div class="auth-container">
        <!-- Formulaire d'inscription -->
        <div class="register-form">
            <h2>Inscription</h2>
            <form action="/register" method="post">
                <label for="register-name">Nom :</label>
                <input type="text" id="register-name" name="register-name" required>

                <label for="register-email">Email :</label>
                <input type="email" id="register-email" name="register-email" required>

                <label for="register-password">Mot de passe :</label>
                <input type="password" id="register-password" name="register-password" required>

                <button type="submit">S'inscrire</button>
            </form>
            <p>Déjà un compte ? <a href="/login">Connectez-vous</a></p>
        </div>
    </div>
</body>
</html>